body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-field {
  width: 250px !important;
  height: 40px;
  font-size: medium;
  border-radius: 5px;
  margin-bottom: 5px;
}

.operation-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 5px;
  align-items: center;
}

.add-btn {
  height: 50px;
  background-color: transparent;
  border: 2px solid #2E6FBE;
  border-radius: 5px;
  font-weight: bold;
}

.add-btn:hover {
  background-color: #2E6FBE;
  transition: 0.3s;
  color: white;
  cursor: pointer;
}